### Falg of Nepal

In [154]:
for i in range(2):
    val = 6
    for j in range(7):
        print('{}{}{}'.format('*',' ' * (j*3), '**'))
    for k in range(7):
        print('{}{}{}'.format('*',' '*val*3, '**'))
        val -= 1
for i in range(7):
    print('*')

***
*   **
*      **
*         **
*            **
*               **
*                  **
*                  **
*               **
*            **
*         **
*      **
*   **
***
***
*   **
*      **
*         **
*            **
*               **
*                  **
*                  **
*               **
*            **
*         **
*      **
*   **
***
*
*
*
*
*
*
*

In [55]:
val = 20
for i in range(1,20):
    print('{}{}{}'.format(' '*val,'*'*i,'*'*i ))
    val -= 1
for i in range(10):
    print('{}{}{}'.format(' '*19, '*****',' '*19 ))

                    **
                   ****
                  ******
                 ********
                **********
               ************
              **************
             ****************
            ******************
           ********************
          **********************
         ************************
        **************************
       ****************************
      ******************************
     ********************************
    **********************************
   ************************************
  **************************************
                   *****
                   *****
                   *****
                   *****
                   *****
                   *****
                   *****
                   *****
                   *****
                   *****

### Diamond

In [95]:
val = 9
val1 = 0
val2 = 18
for i in range(0,10):
    print('{}{}{}{}'.format(' '*val, '*', ' '*(i*2), '*'))
    val -= 1
for i in range(0,10):
    print('{}{}{}{}'.format(' '*val1, '*', ' '*val2, '*'))
    val1 += 1
    val2 -= 2

         **
        *  *
       *    *
      *      *
     *        *
    *          *
   *            *
  *              *
 *                *
*                  *
*                  *
 *                *
  *              *
   *            *
    *          *
     *        *
      *      *
       *    *
        *  *
         **

### Christmas Tree

In [159]:
loop_range=10
val = 9
val_sec = 5
val_sec_increase = 8
for i in range(loop_range):
    print('{}{}{}{}'.format(' '*val,'*', ' '*(i*2), '*'))
    if i == 5:
        print('{}{}'.format(' '*4,' * '*4))
    if i == (loop_range-1):
        print(' * * *        * * *')
    val -= 1
for i in range(3):
    print('{}{}{}{}'.format(' '*val_sec, '*', ' '*(val_sec_increase), '*'))
    val_sec_increase += 2
    val_sec -= 1

         **
        *  *
       *    *
      *      *
     *        *
    *          *
     *  *  *  *
   *            *
  *              *
 *                *
*                  *
 * * *        * * *
     *        *
    *          *
   *            *

In [397]:
loop_range=10
val = 20
val_sec = 5
val_sec_increase = 8
val_for_y_right = 20
val_for_y_left = 20
value_of_u = 10



for i in range(loop_range):
    print('{}{}{}{}{}{}{}{}{}{}{}{}'.
          format(' '*val,'*', ' '*(i*2), '*', ' '*val_for_y_left, '*' ,' '*val_for_y_right, '*', ' '* value_of_u, '*', ' '*20, '*'))
    
    val -= 1
    val_for_y_right -= 2
    value_of_u += 1


print('{}{}{}{}{}{}{}{}'.format(' '*10,'* * * * * * * * * * ** ',' '*19, '**',' '*20,'*', ' '*20,'*'))
for i in range(5):
    print('          *                    *                    **                    *                    *')
print('{}{}'.format(' '*74,' * * * * * * * * * * *'))

                    **                    *                    *          *                    *
                   *  *                    *                  *           *                    *
                  *    *                    *                *            *                    *
                 *      *                    *              *             *                    *
                *        *                    *            *              *                    *
               *          *                    *          *               *                    *
              *            *                    *        *                *                    *
             *              *                    *      *                 *                    *
            *                *                    *    *                  *                    *
           *                  *                    *  *                   *                    *
          * * * * * * * * * * **                    **                    *                    *
          *                    *                    **                    *                    *
          *                    *                    **                    *                    *
          *                    *                    **                    *                    *
          *                    *                    **                    *                    *
          *                    *                    **                    *                    *
                                                                           * * * * * * * * * * *